
<div class="background">
	 <div class="content">
		<ul class="exo-menu">
            <div class="main">
                <!-- Another variation with a button -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search....">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
					  <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
                <a  href="/"><h2 class= "logo">BuyMeByMe</h2></a>  
            </div>
			<li class="mega-drop-down"><a href="#">Women</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
					  <div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive" src="/images/Womens/valentino-v-neck.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">CLOTHING</h4>
								<ul class="description">
									<li><a href="#">All Clothing</a></li>
									<li><a href="#">Dresses</a></li>
									<li><a href="#">Coats & Jackets</a></li>
									<li><a href="#">Trousers</a></li>
									<li><a href="#">Jeans</a></li>
                                    <li><a href="#">Tops</a></li>
                                    <li><a href="#">Sportswears</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">SHOES</h4>
								<ul class="description">
									<li><a href="#">All Shoes</li>
									<li><a href="#">Heels</a></li>
									<li><a href="#">Flats</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">Trainers</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">ACCESSORIES</h4>
								<ul class="description">
									<li><a href="#">All Accessories</a></li>
									<li><a href="#">Bags</a></li>
									<li><a href="#">Belts</a></li>
									<li><a href="#">Hats & Gloves</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Jewellery</a></li>
                                    <li><a href="#">Sunglasses</a></li>
								</ul>
							</div>
						</div>
					</div>	
				</div>
            </li>
            <li class="mega-drop-down"><a href="#">Men</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive1" src="/images/Mens/suit/tom-ford-leopard-jacquard-shelton-tailored-jacket_16189238_30588972_1000.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">CLOTHING</h4>
								<ul class="stander">
									<li><a href="#">All Clothing</a></li>
									<li><a href="#">Suits & Tailoring</a></li>
									<li><a href="#">Blazers</a></li>
									<li><a href="#">Coats & Jackets</a></li>
									<li><a href="#">Shirts</a></li>
                                    <li><a href="#">Polo Shirts</a></li>
                                    <li><a href="#">Trousers</a></li>
                                    <li><a href="#">Jeans</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">SHOES</h4>
								<ul class="description">
									<li><a href="#">All Shoes</a></li>
									<li><a href="#">Smart Shoes</a></li>
									<li><a href="#">Loafers</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">STrainers</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">ACCESSORIES</h4>
								<ul >
									<li><a href="#">All Accessories</a></li>
									<li><a href="#">Bags & wallets</a></li>
									<li><a href="#">Belts</a></li>
									<li><a href="#">Tie & Bow tie</a></li>
                                    <li><a href="#">Cufflinks</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Sunglasses</a></li>
								</ul>
							</div>
							
						</div>
					</div>	
				</div>
            </li>
            <li class="mega-drop-down"><a href="#">Kids & Baby</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive2" src="/images/Kids & Baby/Girls' Faux Fur Collar Coat, Red.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">GIRLS (3-16 Years)</h4>
								<ul class="stander">
									<li><a href="#">All Girlas</a></li>
									<li><a href="#">Coats & Jackets</a></li>
									<li><a href="#">Dresses</a></li>
									<li><a href="#">Tops</a></li>
									<li><a href="#">Trousers & Jeans</a></li>
									<li><a href="#">Shoes</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">BOYS (3-16 Years)</h4>
								<ul class="description">
									<li><a href="#">All Boys</a></li>
									<li><a href="#">Coats & Jackets</a></li>
									<li><a href="#">T-Shirts</a></li>
                                    <li><a href="#">Knitwear</a></li>
                                    <li><a href="#">Trousers & Jeans</a></li>
                                    <li><a href="#">Shoes</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">BABY GIRLS (0-3 Years)</h4>
								<ul >
									<li><a href="#">All Baby Girls/a></li>
									<li><a href="#">Rompers & Sleepsuits</a></li>
									<li><a href="#">Responsive</a></li>
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Coats & Jackets</a></li>
                                    <li><a href="#">Tops</a></li>
									<li><a href="#">Shoes</a></li>
								</ul>
                            </div>
                            <div class="col-md-3">
                                <h4 class="row mega-title">BABY BOYS (0-3 Years)</h4>
                                    <ul >
                                        <li><a href="#">All Baby Boys</li>
                                        <li><a href="#">Rompers & Sleepsuits</a></li>
                                        <li><a href="#">T-Shirts</a></li>
                                        <li><a href="#">Coats & Jackets</a></li>
                                        <li><a href="#">Shoes</a></li>
                                    </ul>
                                </div>
						</div>
					</div>	
				</div>
            </li>
            <li class="mega-drop-down"><a href="#">Home & Kitchen</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive3" src="/images/Home & Kitchen/Home Appliances.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">CLOTHING</h4>
								<ul class="stander">
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Computer</a></li>
									<li><a href="#">Watch</a></li>
									<li><a href="#">laptop</a></li>
									<li><a href="#">Camera</a></li>
									<li><a href="#">I pad</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">shoes</h4>
								<ul class="description">
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Kids</a></li>
									<li><a href="#">Others</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">Accessories</h4>
								<ul >
									<li><a href="#">Web</a></li>
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Responsive</a></li>
									<li><a href="#">Desktop</a></li>
									<li><a href="#">UI/UX</a></li>
								</ul>
							</div>
							
						</div>
					</div>	
				</div>
            </li>
            <li class="mega-drop-down"><a href="#">Food & Win</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
                            <img class="img-responsive4" src="/images/Food & Win/champagne_and_canapesm.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">CLOTHING</h4>
								<ul class="stander">
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Computer</a></li>
									<li><a href="#">Watch</a></li>
									<li><a href="#">laptop</a></li>
									<li><a href="#">Camera</a></li>
									<li><a href="#">I pad</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">shoes</h4>
								<ul class="description">
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Kids</a></li>
									<li><a href="#">Others</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">ACCESSORIES</h4>
								<ul >
									<li><a href="#">Web</a></li>
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Responsive</a></li>
									<li><a href="#">Desktop</a></li>
									<li><a href="#">UI/UX</a></li>
								</ul>
							</div>
						</div>
					</div>	
				</div>
            </li>	
            <li class="mega-drop-down"><a href="#">Electricals</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						 <div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive" src="/images/Electrics/Electrics1.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">CLOTHING</h4>
								<ul class="stander">
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Computer</a></li>
									<li><a href="#">Watch</a></li>
									<li><a href="#">laptop</a></li>
									<li><a href="#">Camera</a></li>
									<li><a href="#">I pad</a></li>
								</ul>
                            </div>
							<div class="col-md-3">
								<h4 class="row mega-title">shoes</h4>
								<ul class="description">
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Kids</a></li>
									<li><a href="#">Others</a></li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">ACCESSORIES</h4>
								<ul>
									<li><a href="#">Web</a></li>
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Responsive</a></li>
									<li><a href="#">Desktop</a></li>
									<li><a href="#">UI/UX</a></li>
								</ul>
                            </div>
						</div>
					</div>	
				</div>
            </li>
                 <nav>
                    <div class="container">
                        
						<!--end navbar-left -->
                             <ul class="navbar-right">
								<% if (!user) { %>
								 <li>
									 <a href="/signup" class="nav-signup-login">Signup</a>
								 </li>
								 <li>
									 <a href="/login" class="nav-signup-login">Login</a>
								 </li>
								 <% } %>
								 <% if (user) { %>
									<li><a href="/user">User</a></li>
									<li>
										<form action="/logout" method="POST">
											<input type="submit" value="Logout"> 
										</form>
									</li>
								<% } %>
								 <% if (user && user.IS_ADMIN === 1) { %>
									<li><a href="/admin">Admin</a></li>
								 <% } %>
								 <% if (user) { %>
								<li><a href="/basket" id="cart"><i class="fa fa-shopping-cart"></i> Cart </a></li>
								<% } %>
                             </ul> <!--end navbar-right -->
                    </div> <!--end container -->
                 </nav>
	     </ul>
    </div> 
</div>
   
	 

